In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("training.csv")

In [4]:
df

,PIDN,m7497.96,m7496.04,m7494.11,m7492.18,m7490.25,m7488.32,m7486.39,m7484.46,m7482.54,...,REF7,RELI,TMAP,TMFI,Depth,Ca,P,pH,SOC,Sand
0,XNhoFZW5,0.302553,0.301137,0.299748,0.300354,0.302679,0.303799,0.301702,0.298936,0.298126,...,-0.646673,1.687734,0.190708,0.056843,Topsoil,-0.295749,-0.041336,-1.129366,0.353258,1.269748
1,9XNspFTd,0.270192,0.268555,0.266964,0.267938,0.271013,0.272346,0.269870,0.266976,0.266544,...,-0.646673,1.687734,0.190708,0.056843,Subsoil,-0.387442,-0.231552,-1.531538,-0.264023,1.692209
2,WDId41qG,0.317433,0.316265,0.314948,0.315224,0.316942,0.317764,0.316067,0.313874,0.313301,...,-0.814516,1.806660,0.190708,0.056843,Topsoil,-0.248601,-0.224635,-0.259551,0.064152,2.091835
3,JrrJf1mN,0.261116,0.259767,0.258384,0.259001,0.261310,0.262417,0.260534,0.258039,0.257246,...,-0.814516,1.806660,0.190708,0.056843,Subsoil,-0.332195,-0.318014,-0.577548,-0.318719,2.118477
4,ZoIitegA,0.260038,0.258425,0.256544,0.257030,0.259602,0.260786,0.258717,0.256352,0.255902,...,-0.780242,0.430513,0.190708,0.056843,Topsoil,-0.438350,-0.010210,-0.699135,-0.310905,2.164148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1152,bdcNNrbi,0.207530,0.199996,0.193196,0.196532,0.207288,0.211360,0.201480,0.190100,0.187901,...,-0.831653,1.772681,1.539208,1.618022,Topsoil,-0.319468,-0.307638,-0.895545,3.056795,-0.971962
1153,6HBVKZwh,0.182376,0.174975,0.168315,0.171872,0.182498,0.186223,0.176172,0.164717,0.162330,...,-0.831653,1.772681,1.539208,1.618022,Subsoil,-0.309633,-0.380266,-0.727194,2.838012,-0.983380
1154,5eLY5nw7,0.146829,0.139909,0.133845,0.137163,0.147417,0.151469,0.141935,0.130603,0.128283,...,-0.740423,2.944954,1.539208,1.618022,Topsoil,-0.446449,-0.380266,-0.409197,4.369495,-0.404874
1155,gsSGXhX6,0.091910,0.084445,0.077992,0.081678,0.092455,0.096463,0.086509,0.074924,0.072652,...,-0.740423,2.944954,1.539208,1.618022,Subsoil,-0.493019,-0.418309,-0.194081,2.533278,-0.568530
1156,A6IpBbfZ,0.471388,0.464764,0.459496,0.463215,0.472801,0.475735,0.466201,0.456083,0.454609,...,-0.804435,1.178050,1.539208,1.618022,Topsoil,-0.208974,-0.179675,-0.549490,3.970996,-0.420098

In [10]:
list(filter(lambda x: x.startswith('m') != True , df.columns.values.tolist()))

['PIDN',
 'BSAN',
 'BSAS',
 'BSAV',
 'CTI',
 'ELEV',
 'EVI',
 'LSTD',
 'LSTN',
 'REF1',
 'REF2',
 'REF3',
 'REF7',
 'RELI',
 'TMAP',
 'TMFI',
 'Depth',
 'Ca',
 'P',
 'pH',
 'SOC',
 'Sand']

In [11]:
df_subset = df[['PIDN',*list(filter(lambda x: x.startswith('m'), df.columns.values))]]

In [15]:
df_melt = df_subset.melt(id_vars=['PIDN'])
df_melt

             PIDN  variable     value
0        XNhoFZW5  m7497.96  0.302553
1        9XNspFTd  m7497.96  0.270192
2        WDId41qG  m7497.96  0.317433
3        JrrJf1mN  m7497.96  0.261116
4        ZoIitegA  m7497.96  0.260038
...           ...       ...       ...
4139741  bdcNNrbi   m599.76  1.576590
4139742  6HBVKZwh   m599.76  1.567330
4139743  5eLY5nw7   m599.76  1.574860
4139744  gsSGXhX6   m599.76  1.473410
4139745  A6IpBbfZ   m599.76  1.692340

[4139746 rows x 3 columns]

In [18]:
df_melt['wavelength'] = df_melt['variable'].apply(lambda x: float(x[1:]))
df_melt

             PIDN  variable     value  wavelength
0        XNhoFZW5  m7497.96  0.302553     7497.96
1        9XNspFTd  m7497.96  0.270192     7497.96
2        WDId41qG  m7497.96  0.317433     7497.96
3        JrrJf1mN  m7497.96  0.261116     7497.96
4        ZoIitegA  m7497.96  0.260038     7497.96
...           ...       ...       ...         ...
4139741  bdcNNrbi   m599.76  1.576590      599.76
4139742  6HBVKZwh   m599.76  1.567330      599.76
4139743  5eLY5nw7   m599.76  1.574860      599.76
4139744  gsSGXhX6   m599.76  1.473410      599.76
4139745  A6IpBbfZ   m599.76  1.692340      599.76

[4139746 rows x 4 columns]

In [20]:
import numpy as np

In [40]:
df_melt["wavelength_round"] = np.round(df_melt["wavelength"], 1)
df_melt

             PIDN  variable     value  wavelength  wavelength_round
0        XNhoFZW5  m7497.96  0.302553     7497.96            7498.0
1        9XNspFTd  m7497.96  0.270192     7497.96            7498.0
2        WDId41qG  m7497.96  0.317433     7497.96            7498.0
3        JrrJf1mN  m7497.96  0.261116     7497.96            7498.0
4        ZoIitegA  m7497.96  0.260038     7497.96            7498.0
...           ...       ...       ...         ...               ...
4139741  bdcNNrbi   m599.76  1.576590      599.76             599.8
4139742  6HBVKZwh   m599.76  1.567330      599.76             599.8
4139743  5eLY5nw7   m599.76  1.574860      599.76             599.8
4139744  gsSGXhX6   m599.76  1.473410      599.76             599.8
4139745  A6IpBbfZ   m599.76  1.692340      599.76             599.8

[4139746 rows x 5 columns]

In [41]:
df_agg = df_melt[["PIDN","wavelength_round","value"]].groupby(["PIDN","wavelength_round"]).agg("mean").reset_index()
df_agg

             PIDN  wavelength_round     value
0        03zzaMZR             599.8  1.883050
1        03zzaMZR             601.7  1.892460
2        03zzaMZR             603.6  1.898800
3        03zzaMZR             605.5  1.910160
4        03zzaMZR             607.5  1.931500
...           ...               ...       ...
4139741  zxWIYmJY            7490.2  0.377888
4139742  zxWIYmJY            7492.2  0.365155
4139743  zxWIYmJY            7494.1  0.360613
4139744  zxWIYmJY            7496.0  0.368153
4139745  zxWIYmJY            7498.0  0.376833

[4139746 rows x 3 columns]

In [42]:
df_agg["wl_str"] = df_agg["wavelength_round"].apply(lambda x: f"m{x}")
df_agg

             PIDN  wavelength_round     value   wl_str
0        03zzaMZR             599.8  1.883050   m599.8
1        03zzaMZR             601.7  1.892460   m601.7
2        03zzaMZR             603.6  1.898800   m603.6
3        03zzaMZR             605.5  1.910160   m605.5
4        03zzaMZR             607.5  1.931500   m607.5
...           ...               ...       ...      ...
4139741  zxWIYmJY            7490.2  0.377888  m7490.2
4139742  zxWIYmJY            7492.2  0.365155  m7492.2
4139743  zxWIYmJY            7494.1  0.360613  m7494.1
4139744  zxWIYmJY            7496.0  0.368153  m7496.0
4139745  zxWIYmJY            7498.0  0.376833  m7498.0

[4139746 rows x 4 columns]

In [5]:
train = pd.read_csv("training.csv")
train[["PIDN","m7497.96"]].apply(lambda x: x.to_numpy().size, axis = 1)

0       2
1       2
2       2
3       2
4       2
       ..
1152    2
1153    2
1154    2
1155    2
1156    2
Length: 1157, dtype: int64